@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
body {
  background-color: #121212;
  color: #e0e0e0;
  font-family: "Parkinsans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

a {
  text-decoration: none;
}

button {
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}